:root{
  --primary-bg-color: #F05941;
  --secondary-bg-color: #22092C;
  --text-color: #F2F2F2;
  --accent-color-light: #BE3144;
  --accent-color: #872341;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

.container {
  max-width: 100dvw;
  height: 100dvh;
  margin: 0 auto;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  
  justify-content: center;

  align-items: center;
}

.container .wall-frame {
  
  
  position: relative;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  
  
  /* background-repeat: repeat; */
}

.container .wall {
  position: absolute;
  
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  background:
    linear-gradient(90deg, orange 50%, white 50%),
    linear-gradient(orange 50%, #ffffff 50%);


  background-size: 10px 10px;
  z-index: 1000;
}

.form {
  position: relative;
  
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  color: white;
  z-index: 1000;
}

/* selector father of form a */
.form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  font-size: large;
  text-align: center;
}
.form a:hover {
  text-decoration: underline;
}

.form .error {
  animation-name: slide-down;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background-color: var(--text-color);
  opacity: 0.8;
  color: var(--accent-color);
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: small;
  font-weight: bold;
}

.form .success-message {
  animation-name: slide-down;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background-color: green;
  opacity: 0.8;
  color: var(--accent-color);
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: small;
  font-weight: bold;
}

.form-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.kira {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  padding: 0;
  
  width: 180px;
  height: 250px;
  z-index: 2;
  animation-name: slide-up;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 1;
}
.kira img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit:fill;
  translate: 0 25px;
}

.zeca {
  position: absolute;
  top: 0;
  left: calc(50% - 90px);
  width: 150px;
  height: 150px;
  z-index: 2;

  animation-name: slide-up;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}
.zeca img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit:fill;
  translate: 0 20px;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
    z-index: 2;
  }
  99%{
    z-index: 2;;
  }
  100% {
    transform: translateY(-100%);
    z-index: 10000;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    z-index: 3;
  }
  100% {
    transform: translateY(0);
    z-index: 2;
  }
}

.hide {
  animation-name: slide-down;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 1rem;
}

button[role="primary"] {
  width: 100%;
  background: var(--accent-color-light);
  font-weight: bold;
  color: var(--text-color);
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  /* margin: 10px 5px; */
  text-decoration: none;
  font-size: 14px;
}
button[role="primary"]:hover {
  box-shadow: 0 0 0 2px var(--secondary-bg-color), 0 0 0 3px var(--accent-color-light);
}
.image-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  /* width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px; */
  height: 100px;
  
}
.image-footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
